//      *** background colors ***

$bgc-primary: rgb(26, 26, 26);
$bgc-secondary: rgba(0, 0, 0, 1);

//      *** text colors ***

$font-primary: rgb(240, 240, 240);
$font-secondary: rgb(116, 17, 116);

//      *** btn colors ***

$btn-color: rgb(14, 172, 172);